In [47]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [9]:
balance_data = pd.read_csv('Decision_Tree_ Dataset.csv', sep=',', header=0)
balance_data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [10]:
print('Dataset_lenght:: '), len(balance_data)
print('Dataset_lenght:: '), balance_data.shape

Dataset_lenght::
Dataset_lenght::

(None, (1000, 6))

In [11]:
print('Dataset:: ')
balance_data.head()

Dataset::

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [59]:
X=balance_data.values[:,1:15]
Y=balance_data.values[:,0]
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100, max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train

SyntaxError: unexpected EOF while parsing (2044956483.py, line 5)

In [ ]:
y_pred_en = clf_entropy.predict(X_test)
y_pred_en

In [ ]:
print ("Accuracy is "), accuracy_score(y_test,y_pred)*100